<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @item[:title] %> – LAPIS 2012</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= content_for @item, :head %>
  </head>
  <body>
    <header>
      <a href="/"><img src="/images/stones.jpg"></a>
      <hgroup>
        <h1><a href="/">LAPIS 2012</a></h1>
        <h2><a href="/">ESWC 2012 Workshop</a></h2>
      </hgroup>
    </header>
    <nav>
      <ul>
        <% home_page = @items.find { |i| i.reps[0].path == '/' } %>
        <% @items.find_all{|c| c!= home_page and c[:extension] =~ /^html|md/}.
                  find_all{|c| not c[:hide]}.
                  sort{|a,b| a[:filename] <=> b[:filename]}.
                  sort{|a,b| (a[:order] || 0) <=> (b[:order] || 0)}.
                  each do |page| %>
          <li<%= @item == page ? ' class="active"' : '' %>><%= link_to(page[:title], page.reps[0]) %></li>
        <% end %>
      </ul>
    </nav>
    <article>
      <%= yield %>
    </article>
    <footer>
      <p>
        &copy;2011–2012 LAPIS 2012 Workshop Organizing Committee
        <a href="https://twitter.com/LAPIS_2012" class="twitter-follow-button"
           data-show-count="false"
           data-lang="en">Follow @LAPIS_2012</a>
        <a href="https://twitter.com/share" class="twitter-share-button"
           data-url="http://lapis2012.linkedservices.org/"
           data-text="Linked APIs for the Semantic Web 2012 – ESWC 2012 Workshop"
           data-via="LAPIS_2012"
           data-related="LAPIS_2012"
           data-hashtags="LAPIS2012"
           data-lang="en">Tweet</a>
      </p>
    </footer>
    <script>_gaq=[['_setAccount','UA-27642436-1'],['_trackPageview']]</script>
    <script src="//www.google-analytics.com/ga.js" async></script>
    <script src="//platform.twitter.com/widgets.js" async></script>
  </body>
</html>
